.card-bg {
  margin: 5px 5px 0 0;
  width: 160px;
  height: 210px;
  border: 5px solid #78c789;
  border-radius: 10px;
  top: 5px;
  z-index: 0;
}

.noborder {
  border: 5px solid transparent;
}

.stack1 {
  top: -170px;
}

.stack2 {
  top: -340px;
}

.stack3 {
  top: -510px;
}

.stack4 {
  top: -680px;
}

.stack5 {
  top: -850px;
}

.stack6 {
  top: -1020px;
}

.card {
  float: left;
  position: relative;
  margin: 0px 0px 0 0;
  width: 150px;
  height: 200px;
  font: 90px/200px "Times New Roman";
  text-align: center;
  border: 3px solid #FFFFFF !important;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

.card:before, .card:after {
  position: absolute;
  font-size: 35px;
  line-height: 1;
}

.card:before {
  top: 10px;
  left: 10px;
}

.card:after {
  bottom: 10px;
  right: 10px;
  -webkit-transform: rotate(180deg);
}

.cover {
  padding: 10px;
  background-color: #2b2b2b;
  opacity: 1;
  background-image: repeating-linear-gradient(45deg, #2fa756 25%, transparent 25%, transparent 75%, #2fa756 75%, #2fa756), repeating-linear-gradient(45deg, #2fa756 25%, #2b2b2b 25%, #2b2b2b 75%, #2fa756 75%, #2fa756);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
  /*https://www.magicpattern.design/tools/css-backgrounds*/

}

.heart, .diamond {
  color: #d00;
}

.two:before, .two:after {
  content: '2';
}

.three:before, .three:after {
  content: '3';
}

.four:before, .four:after {
  content: '4';
}

.five:before, .five:after {
  content: '5';
}

.six:before, .six:after {
  content: '6';
}

.seven:before, .seven:after {
  content: '7';
}

.eight:before, .eight:after {
  content: '8';
}

.nine:before, .nine:after {
  content: '9';
}

.ten:before, .ten:after {
  content: '10';
}

.jack:before, .jack:after {
  content: 'J';
}

.queen:before, .queen:after {
  content: 'Q';
}

.king:before, .king:after {
  content: 'K';
}

.ace:before, .ace:after {
  content: 'A';
}