.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    overflow: auto;
    position: fixed;
    top: 56px;
    left: 0;
    width: 300px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:#AAA;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #17a2b8;
}

a[data-toggle="collapse"] {
    position: relative;
}
#content{
    margin-left: 300px;
    padding: 0px;
}
#content .card{
    margin: 0 auto;  
}

#playbox{
    width:720px;
    display: block;
    margin:0 auto;

    margin-top:20px;
    left:400px;
    border:#369 solid 0px;
}

/**/
.list-group-item{
    height:65px;
}
.list-group-item span{
    display: block;
    float: left;
    position: absolute;
    top:15px;
    left:15px;
    padding: 5px;
    border: #369 solid 0px;
}
.list-group-item p{
    display: block;
    float: left;
    position: absolute;
    top:5px;
    left:50px;
    font-weight: 600;
    border: #369 solid 0px;
}
.list-group-item h6{
    display: block;
    float: left;
    position: absolute;
    top: 33px;
    left:50px;
    font-weight: 300;
    border: #369 solid 0px;
}
.list-group-item h5{
    display: block;
    float: right;
    position: absolute;
    top: 17px;
    right: 15px;
    border: #369 solid 0px;
}

footer{
    display: block;
    float: left;
    position: absolute;
    left:50px;
    height:130px;
    z-index: 99;
}

#stime-play{
    display: block;
    float: left;
    top:-10px;
    left:-15px;
    position: relative;
}
#stime-end{
    display: block;
    float: right;
    top:-10px;
    right:-15px;
    position: relative;
}
/*different with bootstrap default*/
.container-fluid{
    padding-right: 1px;
    padding-left: 1px;
}
.list-group-item{
    padding: 5px 5px;
}
.list-group-item.active{
    background-color:#ade0f0;
    border-color:#ade0f0;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.progress{
    height: 0.5rem;
    
}
.card-deck{
    margin: 0 auto;
}